.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Application{
  background-color: #282c34;
  min-width: 228vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Area{
  min-width: 500px;
  min-height: 500px;
  color:  Black;
  background-color: White;
}

.Logo{
  margin-top: 50px;
  margin-left: 50px;
}

.AppLogo{
  width: 40px;
  height: 40px;
  Z-index: 1;
}

.Area-2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

button{
  background-color: White;
  color: #282c34;
}

.Botao-1{
  margin-right: 15px;
}