.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-link {
  color: #61dafb;
}

.Application{
  background-color: #282c34;
  min-width: 228vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.area{
  min-width: 10vh;
  min-height: 10vh;
  color:  #61dafb;
  border: 1px solid #61dafb;
  border-radius: 20px;
  padding: 200px 80px 200px 80px;
}

button{
  background-color: #61dafb;
  color: #282c34;
}

.Botao-1{
  margin-right: 15px;
}