.Application{
    background-color: #282c34;
    min-width: 228vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.titulo{
    color:  #61dafb;
    align-content: start;
    min-width: 200px;
    min-height: 200px;
}